
a.arrow:link {
    text-decoration: none;
    color: black;
}
a.arrow:visited {
    text-decoration: none;
    color: black;
}


thead > tr.toprow {
    border-top-color: white;
    border-right-color: white;
    border-left-color: white;
}

tbody > tr > td {
    width: 14.3%;
    height: max-content;
}

@media print {

    tbody > tr > td {
        width: 200px;
        height: 124px;
        position: relative; 
    }

    div.tbody-flex > div.tr-flex > div.td-flex {
        width: 200px;
        height: 124px;
        position: relative; 
    }

    tbody > tr > td > span {
        position: absolute; 
        right: 0;
        top: 0;
    }
    
    div.tbody-flex > div.tr-flex > div.td-flex > span {
        position: absolute; 
        right: 0;
        top: 0;
    }


   #arrow-left { display: none !important; }
   #arrow-right { display: none !important; }
   footer { display: none !important; }
   
}

.table-flex {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
    background: transparent;
}

.thead-flex {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    font-weight: 700;
    background-color: rgba(255,255,255,0.25);
}

div.thead-flex > div.tr-flex.toprow > div.th-flex {
    flex-direction: column;
    align-content: center;
    flex: 1 1 auto;
} 

.th-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 14.3%;
    padding: 0.5em;
    min-width: 0px;
}

.daynames { 
    border-bottom: 2.5px solid black;
}

div.daynames > div.th-flex { 
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
}

.tr-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
}

div.tbody-flex > div.tr-flex:nth-child(odd){
    background-color: rgba(207, 208, 209,0.7);
} 

div.tbody-flex > div.tr-flex:nth-child(even) {
    background-color: rgba(255, 255, 255,0.7);
}

.td-flex {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 14.3%;
    padding: 0.5em;
    min-width: 0px;
    border-bottom: 1px solid #d0d0d0;
}
