
a.arrow:link {
    text-decoration: none;
    color: black;
}
a.arrow:visited {
    text-decoration: none;
    color: black;
}


thead > tr.toprow {
    border-top-color: white;
    border-right-color: white;
    border-left-color: white;
}

tbody > tr > td {
    width: 14.3%;
    height: max-content;
}

.table-flex {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 auto;
    background: transparent;
}

.thead-flex {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    font-weight: 700;
    background-color: rgba(255,255,255,0.25);
}

.bi-arrow-left-circle, .bi-arrow-right-circle {
    height: 1.5em;
    width: 1.5em;
} 

div.toprow {
    height: auto;
    flex-direction: row;
}

div.toprow > .left{
    text-align: left;
    flex: 1 1 0;
}

div.toprow > .center{
    text-align: center;
    flex: 3 1 0;
}

div.toprow > .right{
    text-align: right;
    flex: 1 1 0;
}

.th-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 14.3%;
    min-width: 0px;
    padding: 0 0.5rem 0 0 !important;
}

.daynames { 
    border-bottom: 2.5px solid black;
    padding: 0.5rem 0.5rem;
}

 div.tr-flex.daynames > div.th-flex { 
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    text-align: right;
}

.tr-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
}

div.tbody-flex{
    text-align: right;
}

div.tbody-flex > div.tr-flex {
    height: 14.3vh;
} 


div.tbody-flex > div.tr-flex:nth-child(odd){
    background-color: rgba(207, 208, 209,0.7);
} 

div.tbody-flex > div.tr-flex:nth-child(even) {
    background-color: rgba(255, 255, 255,0.7);
}

.td-flex {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 14.3%;
    padding: 0 .5rem 0 0;
    min-width: 0px;
    border-bottom: 1px solid #d0d0d0;
}


@media print {

    tbody > tr > td {
        width: 200px;
        height: 124px;
        position: relative; 
    }

    .toprow {
        height: auto;
    }

    div.tbody-flex > div.tr-flex > div.td-flex {
        width: auto;
        height: 124px;
        position: relative; 
    }
    
    div.th-flex { 
        width: auto;
        position: relative; 
        text-align: right;
    }

    tbody > tr > td > span {
        position: absolute; 
        right: 0;
        top: 0;
    }
    
    div.td-flex > span {
        position: absolute; 
        right: 0;
        top: 0;
    }

   #arrow-left { display: none !important; }
   #arrow-right { display: none !important; }
   footer { display: none !important; }

}

